<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<div class="container text-center card bg-dark text-white text-white my-4">

<h1>Your random password is</h1>

<h1 class="alert alert-success">{{ gen_pass }}</h1>



</div>

<div class="text-center">
    <a class="btn btn-warning mt-4" href="{% url 'home' %}">Home</a>
    <a class="btn btn-warning mt-4" href="{% url 'about' %}">About</a>

</div>